*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

$viewport-height: 93vh;
$input-width: 100%;
$input-padding: 10px;
@mixin form-styles {
    width: 90%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 9px;
    background: rgba(247, 247, 247, .5);
}

.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax($viewport-height, auto);
    .left-side {
        text-align: center;
        .list-info {
            display: flex;
            justify-content: center;
            .list-count {
                margin-left: 25px;
            }
        }
        .newBtn {
            button {
                height: 30px;
                background: blue;
                color: #fff;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                padding: 3px;
                border-radius: 4px;
            }
        }
    }
    .items {
        border: 1px solid blue;
    }
    .middle-side {
        position: relative;
        // background: #000;
        .todo-display {
            // border: 1px solid #000;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 70%;
            margin: 0 auto;
            background: rgba(0, 0, 0, .6);
            padding: 15px;
            .todoTitle {
                font-weight: bold;
                font-size: 1.4rem;
                margin-right: 25px;
                // display: block;
            }
            button {
                background: lightgreen;
                border: none;
                padding: 4px;
                font-weight: bold;
                cursor: pointer;
                border-radius: 3px;
                &:hover {
                    background: rgb(92, 177, 206);
                    color: #fff;
                }
            }
            input[type="checkbox"] {
                margin-right: 20px;
                height: 15px;
                width: 15px;
            }
        }
        .more-info {
            display: none;
            margin-top: 15px;
            .info-title {
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
            div:last-child {
                text-align: center;
                // border: 1px solid #000;
            }
        }
    }
    .newTodoBtn {
        // background: #000;
        text-align: center;
        margin-top: 35px;
        button {
            padding: 10px;
            border: none;
            background: #00b4d8;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background: #48cae4;
                border: 1px solid #00b4d8;
            }
        }
    }
    .new-todo {
        border: 1px solid yellow;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        form {
            @include form-styles();
            label {
                color: #000;
                font-weight: bold;
            }
            input:not([type="submit"]),
            select {
                width: $input-width;
                padding: $input-padding;
                margin-bottom: 15px;
                margin-top: 5px;
            }
            .cta-btns {
                text-align: center;
                margin-top: 10px;
                .save-btn {
                    background: teal;
                    &:hover {
                        background: rgb(120, 233, 233);
                        border: 1px solid teal;
                    }
                }
                .cancel-btn {
                    background: rgb(252, 72, 72);
                    &:hover {
                        background: rgb(243, 107, 107);
                        border: 1px solid rgb(252, 72, 72);
                        ;
                    }
                }
                button {
                    height: 30px;
                    // width: 45px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    border: none;
                    padding: 3px;
                    border-radius: 4px;
                }
            }
        }
    }
    .new-list {
        border: 1px solid yellow;
        background: rgba(0, 0, 0, .8);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        form {
            @include form-styles();
            label {
                color: #000;
                font-weight: bold;
            }
            input:not([type="submit"]) {
                width: $input-width;
                padding: $input-padding;
                margin-bottom: 15px;
                margin-top: 5px;
            }
            input:not([type="submit"]),
            .cta-btns {
                text-align: center;
                margin-top: 10px;
                .save-btn {
                    background: teal;
                    &:hover {
                        background: rgb(120, 233, 233);
                        border: 1px solid teal;
                    }
                }
                .cancel-btn {
                    background: rgb(252, 72, 72);
                    &:hover {
                        background: rgb(243, 107, 107);
                        border: 1px solid rgb(252, 72, 72);
                        ;
                    }
                }
                button {
                    height: 30px;
                    // width: 45px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    border: none;
                    padding: 3px;
                    border-radius: 4px;
                }
            }
        }
    }
}